In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
pd.__version__ #pandas version

u'0.19.2'

# Establish Connection to DB through SSH

In [3]:
from sshtunnel import SSHTunnelForwarder
import MySQLdb as db
import pandas as pd
import sys
import logging
#logging.basicConfig(stream=sys.stdout, level=logging.DEBUG) 
import paramiko
#ssh = paramiko.SSHClient()
#ssh.set_missing_host_key_policy(paramiko.AutoAddPolicy())
#ssh.connect('ssicluster2.tk.informatik.tu-darmstadt.de',port = 12822, username='arun',password='ArunDss@123',allow_agent=False,look_for_keys=False)
localhost = '127.0.0.1'
user = 'root'
password='kUrsVbpyfFWF'
database = 'Energy_AD'
def query(q):
     with SSHTunnelForwarder(
          ('ssicluster2.tk.informatik.tu-darmstadt.de', 12822),
          allow_agent=False,
          ssh_username='arun',
          ssh_password = 'ArunDss@123',
          #remote_bind_address=('130.83.163.8', 3306)
          remote_bind_address=('127.0.0.1', 3306)
           
     ) as server:
          conn = db.connect(host=localhost,
          port=server.local_bind_port,
          user=user,
          passwd=password,
          db=database)

          return pd.read_sql_query(q, conn)

# Run the desired query

In [4]:
#!/home/arun/anaconda2/bin/python
import MySQLdb as db1
import pandas as pd
import datetime
import pandas.io.sql as psql

now = datetime.datetime.now()
print "Start date and time using str method of datetime object:"
print str(now)

chunk_size = 518401
offset = 0
location = 'Torschlag_Trafo' + '%'
list_data = []
#Uncomment and run the below query to read all the data of particular location
while True:
    q = ("SELECT * FROM energy_sample_data1 where location like '%s' ORDER BY Serial_no LIMIT %s OFFSET %s" % (location,chunk_size,offset))
    print(q)
    list_data.append(query(q))
    offset += chunk_size
    if len(list_data[-1]) < chunk_size:
        break
print("Query executed")
print("Concatenating....")
dfs = pd.concat(list_data)

#To read only specific rows of data
#q = ("SELECT * FROM energy_sample_data1 where location like '%s' ORDER BY Serial_no LIMIT %s" % (location,chunk_size))
#print(q)
#list_data.append(query(q))
#dfs = pd.concat(list_data)



now1 = datetime.datetime.now()
print "End date and time using str method of datetime object:"
print str(now1)

print("Execution Completed")

Start date and time using str method of datetime object:
2017-03-11 19:36:54.760921
SELECT * FROM energy_sample_data1 where location like 'Torschlag_Trafo%' ORDER BY Serial_no LIMIT 518401 OFFSET 0
SELECT * FROM energy_sample_data1 where location like 'Torschlag_Trafo%' ORDER BY Serial_no LIMIT 518401 OFFSET 518401
SELECT * FROM energy_sample_data1 where location like 'Torschlag_Trafo%' ORDER BY Serial_no LIMIT 518401 OFFSET 1036802
SELECT * FROM energy_sample_data1 where location like 'Torschlag_Trafo%' ORDER BY Serial_no LIMIT 518401 OFFSET 1555203
SELECT * FROM energy_sample_data1 where location like 'Torschlag_Trafo%' ORDER BY Serial_no LIMIT 518401 OFFSET 2073604
SELECT * FROM energy_sample_data1 where location like 'Torschlag_Trafo%' ORDER BY Serial_no LIMIT 518401 OFFSET 2592005
SELECT * FROM energy_sample_data1 where location like 'Torschlag_Trafo%' ORDER BY Serial_no LIMIT 518401 OFFSET 3110406
SELECT * FROM energy_sample_data1 where location like 'Torschlag_Trafo%' ORDER BY Serial_no LIMIT 518401 OFFSET 3628807
SELECT * FROM energy_sample_data1 where location like 'Torschlag_Trafo%' ORDER BY Serial_no LIMIT 518401 OFFSET 4147208
SELECT * FROM energy_sample_data1 where location like 'Torschlag_Trafo%' ORDER BY Serial_no LIMIT 518401 OFFSET 4665609
SELECT * FROM energy_sample_data1 where location like 'Torschlag_Trafo%' ORDER BY Serial_no LIMIT 518401 OFFSET 5184010
Query executed
Concatenating....
End date and time using str method of datetime object:
2017-03-11 20:11:16.706867
Execution Completed

In [5]:
dfs.shape

(5518987, 16)

In [6]:
dfs.tail()

,Serial_no,Date,Time,V1,V2,V3,I1,I2,I3,I_N,Pges,Sges,CosPhi,Egy_trpt,Egy_con,Location
334972,70831416,2015-12-31,23:59:55,237.51,237.14,236.98,10.42,17.51,11.98,10.17,9118.33,9458.78,0.94,20349.0,13965090.56,Torschlag_Trafo_31122015.csv
334973,70831417,2015-12-31,23:59:56,237.33,236.93,236.78,10.46,17.50,11.92,10.17,9099.92,9445.64,0.94,20349.0,13965100.80,Torschlag_Trafo_31122015.csv
334974,70831418,2015-12-31,23:59:57,237.33,236.93,236.78,10.46,17.50,11.92,10.17,9099.92,9445.64,0.94,20349.0,13965100.80,Torschlag_Trafo_31122015.csv
334975,70831419,2015-12-31,23:59:58,237.33,236.93,236.78,10.46,17.50,11.92,10.17,9099.92,9445.64,0.94,20349.0,13965100.80,Torschlag_Trafo_31122015.csv
334976,70831420,2015-12-31,23:59:59,237.33,236.93,236.78,10.46,17.50,11.92,13.29,9099.92,9445.64,0.94,20349.0,13965100.80,Torschlag_Trafo_31122015.csv

In [9]:
dfs.columns

Index([u'Serial_no', u'Date', u'Time', u'V1', u'V2', u'V3', u'I1', u'I2',
       u'I3', u'I_N', u'Pges', u'Sges', u'CosPhi', u'Egy_trpt', u'Egy_con',
       u'Location'],
      dtype='object')

In [14]:
df_filt = dfs[['V1', 'V2', 'V3', 'I1', 'I2','I3', 'Pges', 'Sges', 'CosPhi']]

In [15]:
df_filt.shape

(5518987, 9)

# Read the saved CSV

In [8]:
dfs = pd.to_csv('Torschlag_df.csv',sep=',')

In [ ]:
dfs.shape #DataFrame containing all fields of Siedlerstr_Trafo

In [ ]:
columns_list = dfs.columns

# Run the below code when data is read from SQL

In [ ]:
cols = 'DESC energy_sample_data1 '
columns_list = query(cols)

In [ ]:
cols_sql = pd.DataFrame(columns_list)
print("Columns names:")
print(cols_sql.iloc[:,0])

In [ ]:
#df_cols = cols_sql.iloc[:,0] # use this to read columns from sql
#columns_names= df_cols.tolist()

print("Columns names:")
print(dfs.columns.tolist())

In [ ]:
import gc
gc.collect()
#dfs.iloc[0:2500000][1:].corr()
#dfs.ix[0:2500000,'Serial_no':].corr()

In [ ]:
dfs.corr()

In [ ]:
correlation = dfs.corr()
#plt.figure(figsize=(13,13))
fig = plt.figure(figsize=(15,15)) 
sns.heatmap(correlation, vmax=1, square=True,annot=True,cmap='cubehelix')

plt.title('Correlation between columns')

fig.savefig('Correlation_part1 Torschlag_Trafo_upto_518400.png')

# Statistics calculation implementation

# Plot statistics by grouping location

In [ ]:
dfs_loc = dfs.groupby('Location') # groupby location wise
#df_loc_part1 = dfs_drop_part1.groupby('Location') # groupby location wise

# Describe() : Produces the basic statistics of the DataFrame

In [ ]:
dfs.drop(labels=['Time','Serial_no'],axis=1).describe()

# Saving the basic statistics to csv

In [ ]:
dfs.drop(labels=['Time','Serial_no'],axis=1).describe().to_csv(r'Torschlag_Trafo_upto_518400_describe.csv',sep=',')

In [ ]:
#dfs.iloc[0:500000][:].describe().to_csv(r'Torschlag_Trafo_corr_desc_1.csv',sep=',')

In [ ]:
#dfs.iloc[500000:1000000][:].describe().to_csv(r'Torschlag_Trafo_corr_desc_2.csv',sep=',')

In [ ]:
#dfs.iloc[1000000:1500000][:].describe().to_csv(r'Torschlag_Trafo_corr_desc_3.csv',sep=',')

In [ ]:
#dfs.iloc[1500000:2000000][:].describe().to_csv(r'Torschlag_Trafo_corr_desc_4.csv',sep=',')

In [ ]:
#dfs.iloc[2000000:2500000][:].describe().to_csv(r'Torschlag_Trafo_corr_desc_5.csv',sep=',')

In [ ]:
#dfs.iloc[2500000:3000000][:].describe().to_csv(r'Torschlag_Trafo_corr_desc_6.csv',sep=',')

In [ ]:
#dfs.iloc[3000000:3500000][:].describe().to_csv(r'Torschlag_Trafo_corr_desc_7.csv',sep=',')

In [ ]:
#dfs.iloc[3500000:4000000][:].describe().to_csv(r'Torschlag_Trafo_corr_desc_8.csv',sep=',')

In [ ]:
#dfs.iloc[4000000:4500000][:].describe().to_csv(r'Torschlag_Trafo_corr_desc_9.csv',sep=',')

In [ ]:
#dfs.iloc[4500000:-1][:].describe().to_csv(r'Torschlag_Trafo_corr_last.csv',sep=',')

# Below you will calculate the correlation on the data grouped by location

In [ ]:
#dfs_grp_loc = dfs.iloc[0:500000][:]

In [ ]:
#dfs_grp_loc.groupby('Location').describe()

In [ ]:
#dfs.iloc[500000:1000000][:].groupby('Location').describe()

In [ ]:
dfs_loc.corr(method='pearson', min_periods=1)

In [ ]:
dfs_loc.hist(bins=5,figsize=(15,15))
plt.savefig('Torschlag_trafo_pearson_corr_groupby_location_upto_518400.png')
plt.show()

# Compute only the mean of the data grouped by location and visualize

In [ ]:
df_st_mean = dfs_loc.mean()
df_st_mean

In [ ]:
df_st_mean.to_csv(r'Torschlag_trafo_mean_groupby_location_upto_518400.csv',sep=',')

# Plot the groupby location

In [ ]:
fig1,ax2 = plt.subplots(figsize=(6,15))
bp = dfs_loc.plot(kind='kde', ax2 = ax2, legend=False)

# PCA implementation

In [ ]:
dfs_drop = dfs.drop(labels=['Serial_no', 'Date', 'Time','Location'],axis=1)

In [ ]:
dfs_drop.columns

In [ ]:
X = dfs_drop.iloc[:,0:6].values
X

In [ ]:
from sklearn.preprocessing import StandardScaler
X_std = StandardScaler().fit_transform(X)

In [ ]:
from sklearn.decomposition import PCA 
sklearn_pca = PCA(n_components=6)
Y_sklearn = sklearn_pca.fit_transform(X_std)

In [ ]:
Y_sklearn.shape

In [ ]:
n_components = pd.DataFrame(Y_sklearn, columns=('V1', 'V2', 'V3', 'I1', 'I2', 'I3'))
n_components.head()

In [ ]:
fig = plt.figure() 
plt.legend(loc='upper right')
plt.plot(n_components)
plt.title("PCA of Torschlag_trafo_upto_518400")

fig.savefig('PCA of Torschlag_trafo_upto_518400.png')